<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Tariff Plan</title>
</head>
<body>
<h1>Редагування тарифних плані</h1>

<form th:action="@{/tariff_Plans/update/{id}(id=${tariffPlan.id})}" method="post" th:object="${tariffPlan}">


    <label for="name">Ім'я:</label>
    <input type="text" id="name" th:field="*{name}" /><br><br>

    <label for="cost">Ціна:</label>
    <input type="number" id="cost" step="0.01" th:field="*{cost}" /><br><br>

    <label for="speed">Швидкість:</label>
    <input type="number" id="speed" th:field="*{speed}" /><br><br>

    <button type="submit">Зберегти</button>
</form>
</body>
</html>
